<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634437787557-5e2ib6tkmlpi6ms9n3tt5kb1g8msqce2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634437787557-5e2ib6tkmlpi6ms9n3tt5kb1g8msqce2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>634437787557-cevfs807ruh0f3pd8o50vgt04p9uh2cp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFdnLXqAHt6_6c3rAM0c5pEPp9YAqZOvA</string>
	<key>GCM_SENDER_ID</key>
	<string>634437787557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.provenance.wallet.dev</string>
	<key>PROJECT_ID</key>
	<string>provenance-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>provenance-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:634437787557:ios:8937aaede3de96942e124c</string>
</dict>
</plist>
